//====================================================================================================
.footer {
   background-color: #f1f1f1;
   &__container {
      padding-top: rem(10);
      padding-bottom: rem(10);
   }

   &__body {
      display: flex;
      align-items: center;
      @include adaptiveValue("column-gap", 50, 0);
      @media (max-width: $mobile) {
         justify-content: center;
      }
      // @media (max-width: em(440)) {
      //    flex-direction: column;
      //    align-items: center;
      //    row-gap: rem(30);
      // }
   }

   &__contact {
      display: flex;
      align-items: center;
      // flex-direction: column;
      @media (max-width: $tablet) {
         flex-direction: column;
      }
      @media (max-width: $mobile) {
         width: 50%;
      }
   }

   &__logo {
      margin-bottom: 20px;
      margin-right: rem(40);
      max-width: 130px;
      @media (max-width: em(440)) {
         margin-right: 0;
      }
      img {
         width: 100%;
      }
      @media (max-width: $mobile) {
         display: none;
      }
   }

   &__contact-adress {
      @include adaptiveValue("font-size", 20, 14);
      display: flex;
      align-items: center;
      column-gap: 5px;
      margin-right: 20px;
      @media (max-width: $tablet) {
         margin-bottom: 20px;
      }
      @media (max-width: em(440)) {
         margin-right: 0;
      }
   }

   &__contact-phone {
      @include adaptiveValue("font-size", 20, 14);
      display: flex;
      column-gap: 5px;
      margin-right: 20px;
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(10);
         }
      }
      @media (max-width: em(440)) {
         margin-right: 0;
      }
   }

   &__menu {
      width: 30%;
      @media (max-width: em(1170)) {
         width: 20%;
      }
      @media (max-width: $mobile) {
         width: 50%;
         justify-content: center;
      }
   }
}

.menu-footer {
   display: flex;
   @media (max-width: $tablet) {
      margin-top: 80px;
   }
   @media (max-width: $mobile) {
      margin-top: 0;
   }
   &__column {
   }

   &__title {
      margin-bottom: 10px;
      font-weight: 700;
      @include adaptiveValue("font-size", 30, 20);
   }

   &__list {
      display: flex;
      justify-content: space-between;
      @include adaptiveValue("font-size", 20, 14);
      @media (max-width: em(1170)) {
         flex-direction: column;
      }
      // @media (max-width: em(440)) {
      //    align-items: center;
      // }
   }

   &__item {
      &:not(:last-child) {
         margin-bottom: rem(10);
         margin-right: rem(15);
      }
      @media (any-hover: hover) {
         &:hover {
            transition: all 0.3s ease 0s;
            color: $secondColor;
         }
      }
   }

   &__link {
   }
}

//====================================================================================================
